certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
future==0.16.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
parsedatetime==2.4
requests==2.20.1
urllib3==1.23
uWSGI==2.0.17.1
Werkzeug==0.14.1
